* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.space-padding {
  padding-bottom: 4rem;
}

.body-row {
  border: none;
  width: 100%;
  display: flex;
  justify-content: center;
}

.register {
  padding-top: 1rem;
  margin-top: 1rem;
}

p {
  padding-top: 2rem;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #333;
  max-width: 800px;
}

@media (width <= 768px) {
  .column-one {
    flex-direction: column;
    align-items: center;
  }

  button {
    margin: 5px 0;
  }
}
