* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: d6ccc2;
  border-radius: 8px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.8);
  margin-top: 2rem;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  color: #333;
}

.row,
.body-row {
  border: none;
  width: 100%;
  display: flex;
  justify-content: center;
}

.column-one {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #f5ebe0;
}

.logo {
  height: 10rem;
}

.column-sign {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  animation: stretch 1.5s, pulse 5s infinite;
}

.people-image {
  padding-top: 2rem;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.map {
  padding-top: 5rem;
}

p {
  padding-top: 2rem;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #333;
  max-width: 800px;
}

@media (width <= 768px) {
  .column-one {
    flex-direction: column;
    align-items: center;
  }

  button {
    margin: 5px 0;
  }
}
