.map-container {
  border: 3px solid #5bb98c !important;
  border-radius: 16px !important;
  box-shadow: 0 6px 16px rgba(91, 185, 140, 0.2) !important;
  overflow: hidden !important;
  padding: 4px !important;
  background-color: #f8fbf9 !important;
  width: 50%;
}

.row {
  display: flex;
  align-items: center;
}

.info-window {
  padding: 12px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
